<div class="card">
  <div class="header">
    <div class="icon"></div>

    <div class="name-container">

      <mat-form-field>
        <input matInput placeholder="NPC Name" [value]="npc.name">
      </mat-form-field>

    </div>
  </div>

  <div>
    <span>Race {{npc.race}}</span>
  </div>
  <div class="body">
    <div class="traits-container">
      <label for="traits">Traits</label>
      <mat-list name="traits" dense>
        <mat-list-item *ngFor="let trait of npc.traits">{{trait}}</mat-list-item>
      </mat-list>

    </div>
  </div>
</div>
